<div class="row">
	<div class="col-lg-10 offset-lg-1">
		<div class="post-card mb-4">
		  <div class="card-body">
		  	<div class="pl-4 pr-4 pt-3 pb-3">
		  		<h1 class="card-title mb-4" style="text-align: center; font-size: 3rem;"><%= @post.title %></h1>
		  		<h5 class="mb-4" style="text-align: center; font-size: 1.4rem; font-weight: 400;"><%= @post.description %></h5>
		  		<% i = 0 %>
			    <% @post.elements.each do |element| %>
			    	<% if element.paragraph? %>
							<div class="content-element mb-3", id="paragraph<%= i += 1 %>">
								<%= element.content %>
							</div>
						<% elsif element.image? %>
							<div class="image-element mb-4 mt-4">
								<%= image_tag(element.image) %>
							</div>
						<% end %>
			    <% end %>
		  	</div>
		  </div>
		</div>
	</div>
</div>